
<table class="table">
    <thead>
      <tr>
        <th scope="col">name</th>
        <th scope="col">email</th>
        <th scope="col">admin</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users$">
        
          <td>{{user.payload.val().name}}</td>
          <td>{{user.payload.val().email}}</td>
          <td>{{user.key}}</td>

          <td><input type="checkbox" ngModel="isAdmin" #isAdmin="ngModel" 
            [value]="user.name" (change)="ischecked($event,user.key)"></td>
        
      </tr>
    </tbody>
    
  
  </table>